<a href="https://colab.research.google.com/github/assuncaomarcos/classroom_extensions/blob/main/notebooks/How_to_run_MariaDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MariaDB Extensions
----------

This notebook demonstrates how to use the MariaDB extensions.

## Installing the Classroom Extensions
------------------

We will install the extensions via pip+github:

In [ ]:
!pip3 install classroom-extensions

## Installing MariaDB
-------------------

Then you can load the `mariadb_install` extension to install MariaDB:

In [2]:
%load_ext classroom_extensions.mariadb_install

You can use the line magic `%install_mariadb` to install MariaDB. With the `--pasword=yourpassword`, you can provide a password that the current user will employ to connect to the database. When provided, the `-sample_db` parameter will make the extension download and import a sample database with information about countries, continents, and demographics.

In [3]:
%install_mariadb --password=passw0rd --sample_db

Running apt update...
Installing MariaDB...
Installing required python packages...
Waiting for a few seconds for MariaDB server to start...
Importing nation database...
Done.

## Using MariaDB
------------------

To use MariaDB you need to load the `mariadb` extension:

In [4]:
%load_ext classroom_extensions.mariadb

After loading this extension, you can use the cell magic `%%sql` to execute SQL commands:

In [5]:
%%sql
SHOW DATABASES;

It is as though you were connecting via the CLI tool. To use the sample `nation` database:

In [6]:
%%sql
USE nation;

In [7]:
%%sql
SHOW TABLES;

In [8]:
%%sql
SELECT c.* FROM countries c
JOIN regions r ON c.region_id = r.region_id
WHERE r.name = 'South America';

## Connecting to MariaDB
------------------------

You can use Python or any of the languages accepted by your Jupyter kernel to connect to MariaDB:

In [9]:
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="passw0rd",
        host="localhost",
        port=3306,
        database="nation",
        connect_timeout=5000
    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

cur = conn.cursor()

some_name = 'Un%'
cur.execute(
    "SELECT name, national_day from countries WHERE name LIKE ? ORDER BY name DESC",
    (some_name,))

for (name, national_day) in cur:
    print(f"Name: {name}, National Day: {national_day}")

Name: United States Minor Outlying Islands, National Day: None
Name: United States, National Day: 1776-07-04
Name: United Kingdom, National Day: None
Name: United Arab Emirates, National Day: 1971-12-02